body {
background: #00819b; /* Old browsers */
background: -moz-linear-gradient(left, #00819b 0%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #00819b 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #00819b 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00819b', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
}
