body {
background: #f7f4ea; /* Old browsers */
background: -moz-linear-gradient(left, #f7f4ea 0%, #ffffff 13%, #fc8414 13%, #fc8414 14%, #ffffff 14%, #00819b 14%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #f7f4ea 0%,#ffffff 13%,#fc8414 13%,#fc8414 14%,#ffffff 14%,#00819b 14%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #f7f4ea 0%,#ffffff 13%,#fc8414 13%,#fc8414 14%,#ffffff 14%,#00819b 14%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f4ea', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
}

h1 {
	color: black;
	margin-left: 10px;
}
